body, html, div, span, p, a, li, ul{
    font-family: 'PT Sans', sans-serif;
}

body, html{
    overflow-x: hidden;
}

.warehouse, .top-bar_email {
    a {
        color: #fff;
    }
}

.header-phones {
    a{
        font-size: 13px;
        color: #fff;
    }
}
.featured-icon-box.style1{
    min-height: 130px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.product .onsale:after{
    left: 94px;
}
.product .onsale {
    width: 95px;
}

nav.menu ul.nav > li > a{
    text-transform: initial;
}

@media (min-width: 992px){
    .menu-vertical li.parent:hover .sub-menu {
        border-radius: 0px;
        top: -1px;
    }
}
.menu-vertical li.parent .megamenu ul.list-unstyled li{
    position: relative;
}

.menu-vertical li.parent .megamenu ul.list-unstyled li .sub-menu {
    display: none;
}
.menu-vertical li.parent .megamenu ul.list-unstyled li:hover .sub-menu {
    display: block;
    position: absolute;
}
.breadcrumb-wrapper a, .breadcrumb-wrapper span {
    text-transform: initial;
}

.comment_container .avatar{
    width: 80px;
    height: 80px;
    margin: 7px 28px 0px 0px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
}

$colors: red, orange, yellow, green, blue, purple;
$repeat: 20;

@for $i from 1 through $repeat {
    .commentlist .review:nth-child(#{length($colors)}n+#{$i}) .avatar {
        background: lighten(nth($colors, random(length($colors))), 20%);
    }
}


.sidebar .widget ul >li{
    overflow: initial;
}

.footer-products-links{
    display: flex;
    flex-wrap: wrap;

    li  {
        width: 50%;
    }
}


.checkout-button {
    display: inline-block;
    margin-top: unset;
    height: 44px;
}

.attr-line{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;

    &:before{
        content: '';
        width: 100%;
        position: absolute;
        bottom: 5px;
        border-bottom: 1px dotted #656c76;
        height: 2px;
    }

    div{
        background-color: #fff;
        position: relative;
        z-index: 3;
    }
}

.menu-vertical li a{
    line-height: 20px;
}
.page-title-heading h1{
    text-transform: initial;
    font-size: 24px;
}
.product-box-inner {
    position: relative;
    overflow: inherit;
}

.widget-price-filter .price_slider_amount .button {
    width: 75px;
}


#logo-img {
    max-width: 200px;
    margin-top: -20px;
}

#footer-logo-img {
    max-width: 150px;
}

.product-image-box {
    height: 108px;
    display: flex;
    position: relative;

    .pro-image-front{
        max-width: 100%;
        object-fit: cover;
    }

    .pro-image-back{
        object-fit: cover;
        width: 100%;
        object-position: center;
        max-height: 100%;
    }
}


.widget-price-filter .price_slider_amount input{
    width: 60px;
}

.price_slider_amount {
    position: relative;

    .button{
        position: absolute;
        right: 0px;
    }
}

.filter-block{
    margin-bottom: 30px;
}

.cat_menu_list {
    z-index: 19;
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.top_bar_contact_item{
    align-items: center;
    height: 32px;
}

.warehouse {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 17px;
    color: #EF2B1F;
    padding-right: 10px;
    height: 16px;
}

.warehouse span {
    margin: 0px 10px
}

.city-selector {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 17px;
    color: #02112B;
    padding-right: 10px;
    border-right: 1px solid #CCD6E9;
    height: 16px;
    cursor: pointer;
}

.city-selector span {
    margin: 0px 10px
}

.warehouse.instock {
    color: #449A1B;
}

.top-bar_address{
    font-size: 13px;
    color: #4C5F7E;
    margin-left: 10px;
}

.site-branding {
    display: flex;
    align-items: center;
}

.site-branding .desc{
    font-size: 13px;
    line-height: 17px;
    color: #4C5F7E;
    margin-left: 22px;
}

.header-conacts_item{
    padding: 0px 15px;

    .icon {
        line-height: 0;
        min-height: 17px;
        display: flex;
        align-items: center;
    }

    &.email a{
        font-size: 14px;
        line-height: 25px;
        color: #02112B;
    }

    &.phone a{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #02112B;
    }
}

.cart-block.dropdown_link{
    padding-top: 8px;
    padding-left: 20px;
    margin-left: 20px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 40px;
        left: 0px;
        background: #D2DBEC;
    }

    .cart_count {
        position: absolute;
        top: -7px;
        left: 8px;
    }

    .cart_price {
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        color: #02112B;
    }
}

#site-header-menu{
    .cat_menu_container .cat_menu{
        background-color: #ffd200;
        padding: 0px;
    }
    .cat_menu h4{
        font-size: 15px;
        line-height: 25px;
        color: #02112B;
    }

    .cat_menu h4:after {
        display: none;
    }

    .cat_menu svg{
        position: absolute;
        right: 15px;
    }
}

.product-box .add-to-cart .add-to-cart-btn {
    background: #FFFFFF;
    border: 1px solid #E9EEF6;
    box-sizing: border-box;
    padding: 10px 15px;

    span {
        font-weight: bold;
        font-size: 14px;
        line-height: 25px;
        color: #02112B;
        margin-left: 10px;
    }
}

.product-box .add-to-cart.incart .add-to-cart-btn {
    background: #2457aa;

    span {
        color: #fff;
    }
}

.product-att_block{
    text-align: left;
    margin-bottom: 20px;

    .product-att_item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        position: relative;

        .name{
            max-width: 125px;
            font-size: 12px;
            line-height: 20px;
            color: #4B566A;
            background-color: #fff;
            z-index: 2;
            position: relative;
        }

        .value{
            background-color: #fff;
            z-index: 2;
            position: relative;
            font-size: 12px;
            line-height: 20px;
            color: #4B566A;
        }

        &:before{
            content: '';
            width: 100%;
            height: 11px;
            position: absolute;
            top: 4px;
            border-bottom: 1px dotted #CDCDCD;
        }
    }
}

#citySelector {
    position: relative;
}

.city-selector_close{
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
        fill: #000;
        display: block;
        height: 100%;
        overflow: visible;
        position: relative;
        width: 21px;
        cursor: pointer;
    }
}

.city-group{
    margin-bottom: 30px;
}

.home-link svg{
    max-width: 100%;
}

#citySelector {
    max-width: 600px;
    width: 100vw;

    @media (max-width: 601px){
        max-width: 100%;
    }
}

.category_content-after {
    //h2 {
    //    font-style: normal;
    //    font-weight: 600;
    //    font-size: 18px;
    //    line-height: 25px;
    //    counter-increment: inst;
    //    position: relative;
    //    padding-left: 45px;
    //
    //    &:before {
    //        content: counter(inst);
    //        position: absolute;
    //        width: 40px;
    //        height: 40px;
    //        background: #2457aa;
    //        display: flex;
    //        justify-content: center;
    //        align-items: center;
    //        font-style: normal;
    //        font-weight: 500;
    //        font-size: 14px;
    //        line-height: 20px;
    //        left: 0px;
    //        top: -8px;
    //        color: #fff;
    //        border-radius: 50px;
    //    }
    //}
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
    }

    ul {
        margin-bottom: 20px;

        li {
            padding-left: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            position: relative;

            &:before {
                content: '';
                width: 6px;
                height: 6px;
                background: #2457aa;
                border-radius: 50px;
                position: absolute;
                left: 0px;
                top: 10px;
            }
        }
    }
}
