.warehouse a, .top-bar_email a {
  color: #fff;
}

.header-phones a {
  font-size: 13px;
  color: #fff;
}

.featured-icon-box.style1 {
  min-height: 130px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product .onsale:after {
  left: 94px;
}

.product .onsale {
  width: 95px;
}

nav.menu ul.nav > li > a {
  text-transform: initial;
  color: #fff;
}

/*# sourceMappingURL=custom.css.map */
