body, html, div, span, p, a, li, ul {
  font-family: "PT Sans", sans-serif;
}

.warehouse a, .top-bar_email a {
  color: #fff;
}

.header-phones a {
  font-size: 13px;
  color: #fff;
}

.featured-icon-box.style1 {
  min-height: 130px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product .onsale:after {
  left: 94px;
}

.product .onsale {
  width: 95px;
}

nav.menu ul.nav > li > a {
  text-transform: initial;
}

@media (min-width: 992px) {
  .menu-vertical li.parent:hover .sub-menu {
    border-radius: 0px;
    top: -1px;
  }
}
.menu-vertical li.parent .megamenu ul.list-unstyled li {
  position: relative;
}

.menu-vertical li.parent .megamenu ul.list-unstyled li .sub-menu {
  display: none;
}

.menu-vertical li.parent .megamenu ul.list-unstyled li:hover .sub-menu {
  display: block;
  position: absolute;
}

.breadcrumb-wrapper a, .breadcrumb-wrapper span {
  text-transform: initial;
}

.comment_container .avatar {
  width: 80px;
  height: 80px;
  margin: 7px 28px 0px 0px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
}

.commentlist .review:nth-child(6n+1) .avatar {
  background: #6666ff;
}

.commentlist .review:nth-child(6n+2) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+3) .avatar {
  background: #ffff66;
}

.commentlist .review:nth-child(6n+4) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+5) .avatar {
  background: #6666ff;
}

.commentlist .review:nth-child(6n+6) .avatar {
  background: #00e600;
}

.commentlist .review:nth-child(6n+7) .avatar {
  background: #00e600;
}

.commentlist .review:nth-child(6n+8) .avatar {
  background: #6666ff;
}

.commentlist .review:nth-child(6n+9) .avatar {
  background: #ffff66;
}

.commentlist .review:nth-child(6n+10) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+11) .avatar {
  background: #00e600;
}

.commentlist .review:nth-child(6n+12) .avatar {
  background: #00e600;
}

.commentlist .review:nth-child(6n+13) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+14) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+15) .avatar {
  background: #ff6666;
}

.commentlist .review:nth-child(6n+16) .avatar {
  background: #ff6666;
}

.commentlist .review:nth-child(6n+17) .avatar {
  background: #ffc966;
}

.commentlist .review:nth-child(6n+18) .avatar {
  background: #00e600;
}

.commentlist .review:nth-child(6n+19) .avatar {
  background: #ff6666;
}

.commentlist .review:nth-child(6n+20) .avatar {
  background: #ffc966;
}

.sidebar .widget ul > li {
  overflow: initial;
}

.footer-products-links {
  display: flex;
  flex-wrap: wrap;
}
.footer-products-links li {
  width: 50%;
}

.checkout-button {
  display: inline-block;
  margin-top: unset;
  height: 44px;
}

.attr-line {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}
.attr-line:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 5px;
  border-bottom: 1px dotted #656c76;
  height: 2px;
}
.attr-line div {
  background-color: #fff;
  position: relative;
  z-index: 3;
}

.menu-vertical li a {
  line-height: 20px;
}

.page-title-heading h1 {
  text-transform: initial;
  font-size: 24px;
}

.product-box-inner {
  position: relative;
  overflow: inherit;
}

.widget-price-filter .price_slider_amount .button {
  width: 75px;
}

#logo-img {
  max-width: 200px;
  margin-top: -20px;
}

#footer-logo-img {
  max-width: 150px;
}

.product-image-box {
  height: 108px;
  display: flex;
  position: relative;
}
.product-image-box .pro-image-front {
  max-width: 100%;
  object-fit: cover;
}
.product-image-box .pro-image-back {
  object-fit: cover;
  width: 100%;
  object-position: center;
  max-height: 100%;
}

.widget-price-filter .price_slider_amount input {
  width: 60px;
}

.price_slider_amount {
  position: relative;
}
.price_slider_amount .button {
  position: absolute;
  right: 0px;
}

.filter-block {
  margin-bottom: 30px;
}

.cat_menu_list {
  z-index: 19;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.top_bar_contact_item{
    align-items: center;
    height: 32px;
}

.warehouse {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 17px;
    color: #02112B;
    padding-right: 10px;
    border-right: 1px solid #CCD6E9;
    height: 16px;
}

.warehouse span {
    margin: 0px 10px
}

.warehouse.instock {
    color: #449A1B;
}

.top-bar_address{
    font-size: 13px;
    color: #4C5F7E;
    margin-left: 10px;
}

.site-branding {
    display: flex;
    align-items: center;
}

.site-branding .desc{
    font-size: 13px;
    line-height: 17px;
    color: #4C5F7E;
    margin-left: 22px;
}

/*# sourceMappingURL=custom.css.map */
