
/* MEGAMENU STYLE
=================================*/
nav.menu .mega-menu-item.megamenu-fw {
    position: static;
}
.site-header-menu .main_nav_content{
    position: relative;
}
nav.menu .megamenu-fw .mega-submenu {
    left: auto;
}
nav.menu .megamenu-content {
    padding: 15px;
    width: 100% !important;
}
nav.menu .megamenu-content .title{
    margin: 0;
    display: block;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-weight: 500;
    color: #000b1c;
    font-size: 15px;
    padding: 16px 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #e9eef6;
}
nav.menu .mega-menu-item.megamenu-fw .mega-submenu {
    left: 0;
    right: 0;
}


nav.menu ul {
  padding: 0px;
  margin: 0px;
}
nav.menu{
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
    z-index: 9;
}
nav.menu li ul.mega-submenu {
    position: absolute;
    top: auto;
    left: 0;
    z-index: 2;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 1px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.075);
    box-shadow: 0 6px 12px rgba(0,0,0,.075);
    -webkit-transition: .6s all;
    transition: .6s all;
}
nav.menu ul.nav > li{
    position: relative;
    display: inline-block;
}
nav.menu ul.nav > li > a{
    font-size: 15px;
    display: block;
    padding: 30px 15px;
    font-weight: 600;
    background-color: transparent;
    outline: none;
    margin-bottom: -2px;
}
nav.menu ul.nav .mega-submenu .mega-submenu{
    top: 0;
    left: 100%;
}

ul.menu-col{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.menu-col li a{
    color: #6f6f6f;
}
ul.menu-col li a:hover,
ul.menu-col li a:focus{
    text-decoration: none;
}


/* Extra Navigation
=================================*/
.ex-nav{
    float: right;
    display: inline-block;
    margin-right: -15px;
}
.ex-nav > ul{
    padding: 0;
    margin: 0 0 -7px 0;
    list-style: none;
    display: inline-block;
}
.ex-nav > ul > li{
    float: left;
    display: block;
    position: relative;
}
.ex-nav > ul > li > a{
    display: inline-block;
    padding: 22px 15px;
    position: relative;
    z-index: 111;
}
.ex-nav > ul > li > a span.badge{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    font-size: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.ex-nav li.cart-items ul.cart-list{
    position: absolute;
    top: auto;
    right: 0;
    z-index: 1000;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    background: #fff;
    border: solid 1px #e0e0e0;
}
.ex-nav > ul > li.mega-menu-item ul.mega-submenu{
        margin-top: 0;
        margin-left: 55px;
        width: 250px;
        left: -250px;
}
ul.cart-list{
    padding: 0;
    margin: 0;
    width: 250px;
}
ul.cart-list > li{
    list-style: none;
    position: relative;
    border-bottom: solid 1px #efefef;
    padding: 15px 0 19px;
}
ul.cart-list > li:first-child{ padding-top: 0; }
ul.cart-list > li > a.photo{
    padding: 0;
    margin-right: 15px;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;
}
ul.cart-list > li img{
    width: 50px;
    height: 50px;
    border: solid 1px #efefef;
}
ul.cart-list > li > h6{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
ul.cart-list > li > h6 > a.photo{
    padding: 0 !important;
    display: block;
}
ul.cart-list > li > p{
    margin-bottom: 0;
}
ul.cart-list > li.total{
    background-color: #f5f5f5;
    padding: 15px 15px;
    font-size: 15px;
}
ul.cart-list > li.total > .btn{
    display: inline-block;
    border: unset;
    border-radius: 0;
    box-shadow: unset;
    font-size: 14px;
    line-height: 14px;
}
ul.cart-list > li .price{
    font-weight: bold;
}
.cart-items.show .cart-list  {
    display: block;
}


/* Responsive
=================================*/

@media (min-width: 1200px) {

    .ttm_menu-toggle{
        display: none;
    }
    nav.menu ul.nav .mega-submenu .mega-submenu{
        margin-top: -2px;
    }
    nav.menu ul.nav-right .mega-submenu .mega-submenu{
        left: -200px;
    }
    nav.menu ul.nav > li > a{
        font-weight: 500;
        text-transform: capitalize;
        padding: 6px 15px;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;

    }
    nav.menu ul.nav > li.mega-menu-item > a.mega-menu-link:after{
        font-family: 'themify';
        content: "\e64b";
        margin-left: 5px;
        margin-top: 2px;
        font-size: 9px;
        color: #000b1c;
        opacity: .25;
        position: relative;
        top: 2px;
    }
    nav.menu li.mega-menu-item{ position: relative; }
    nav.menu li.mega-menu-item ul.mega-submenu{
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        padding: 0;
        width: 240px;
        background: #fff;
        border: 0px;
        border-top: solid 3px;
    }
    nav.menu li.mega-menu-item ul.mega-submenu > li a:hover,
    nav.menu li.mega-menu-item ul.mega-submenu > li a:hover{
        background-color: transparent;
    }
    nav.menu li.mega-menu-item ul.mega-submenu li a{
        font-size: 14px;
        font-weight: 400;
        display: block;
        padding: 10px 15px;
        color: #656c76;
        border-bottom: solid 1px #edf2f8;
    }
    nav.menu li.mega-menu-item:last-child a{
        border-bottom: none;
    }
    nav.menu ul-right li.mega-menu-item ul.mega-submenu li a{
        text-align: right;
    }
    nav.menu li.mega-menu-item ul.mega-submenu li.mega-menu-item > a.mega-menu-link:before{
        font-family: 'FontAwesome';
        float: right;
        content: "\f105";
        margin-top: 0;
        color: #000b1c;
        opacity: .25;
    }
    nav.menu ul-right li.mega-menu-item ul.mega-submenu li.mega-menu-item > a.mega-menu-link:before{
        font-family: 'FontAwesome';
        float: left;
        content: "\f104";
        margin-top: 0;
    }
    nav.menu li.mega-menu-item ul.mega-submenu ul.mega-submenu{
        top: -3px;
    }
    nav.menu ul.mega-submenu.megamenu-content{
        padding: 0 15px !important;
    }
    nav.menu ul.mega-submenu.megamenu-content .col-menu{
        padding: 0;
        border-right: solid 1px #f0f0f0;
    }
    nav.menu ul.mega-submenu.megamenu-content .col-menu:first-child{
        border-left: none;
    }
    nav.menu ul.mega-submenu.megamenu-content .col-menu:last-child{
        border-right: none;
    }
    nav.menu ul.mega-submenu.megamenu-content .content ul.menu-col li a{
        text-align: left;
        display: block;
        width: 100%;
        margin-bottom: 0;
        border-bottom: none;
        font-size: 14px;
        font-weight: 400;
        display: block;
        padding: 10px 15px;
        color: #656c76;
        border-bottom: solid 1px #edf2f8;
    }
    nav.menu ul.mega-submenu.megamenu-content .content ul.menu-col li:last-child a{
        border-bottom: unset;
    }
    nav.menu ul.mega-submenu.megamenu-content .col-menu:last-child .content li a{
        padding: 30px;
    }
    nav.menu li.mega-menu-item.on ul.mega-submenu.megamenu-content .content{
        display: block !important;
        height: auto !important;
    }
    nav.menu li.mega-menu-item:hover > ul.mega-submenu {
        opacity: 1;
        display: block;
        visibility: visible;
        height: auto;
    }
}


@media (max-width: 1199px) {

    .menubar{
        position: absolute;
        left: 230px;
        top: 7px;
        z-index: 9;
    }
    .menubar-box {
        display: block;
        width: 30px;
        height: 24px;
    }
    .menubar-inner, .menubar-inner:after, .menubar-inner:before {
        position: absolute;
        width: 30px;
        height: 3px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #fff;
    }
    .menubar--squeeze .menubar-inner {
        top: 50%;
        display: block;
        margin-top: -2px;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
        transition-duration: .1s;
    }
    .menubar-inner:after, .menubar-inner:before {
        display: block;
        content: '';
    }
    .menubar-inner:after {
        bottom: -8px;
    }
    .menubar-inner:before {
        top: -8px;
    }
    .menubar--squeeze.is-active .menubar-inner {
        transition-delay: .14s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);
    }
    .menubar--squeeze.is-active .menubar-inner:before {
        top: 0;
        transition: top .1s ease,opacity .1s ease .14s;
        opacity: 0;
    }
    .menubar--squeeze.is-active .menubar-inner:after {
        bottom: 0;
        transition: bottom .1s ease,transform .1s cubic-bezier(.215,.61,.355,1) .14s;
        transform: rotate(-90deg);
    }


    nav.menu{
        display: none ;
        max-height: 10000px;
        position: absolute;
        box-shadow: rgba(0,0,0,0.12) 3px 3px 15px;
        z-index: 100;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 3px solid;
    }
    nav.menu.show{
        display: block;
        max-height: 10000px;
    }
    #site-header-menu #site-navigation .menu > ul {
        padding-right: 15px;
        padding-left: 15px;
    }
    nav.menu ul.nav, nav.menu ul.nav > li{
        display: block;
    }
    nav.menu li.mega-menu-item a.mega-menu-link:before{
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
    nav.menu li.mega-menu-item.on > a.mega-menu-link:before{
        content: "\f107";
    }
    nav.menu ul.nav > li > a{
        display: block;
        width: 100%;
        border-bottom: solid 1px #e0e0e0;
        padding: 10px 0;
        border-top: solid 1px #e0e0e0;
        margin-bottom: -1px;
    }
    nav.menu ul.nav > li:first-child > a{
        border-top: none;
    }

    nav.menu ul.nav-left > li:last-child > ul.mega-submenu{
        border-bottom: solid 1px #e0e0e0;
    }
    nav.menu ul.nav li.mega-menu-item li a.mega-menu-link{
        float: none !important;
        position: relative;
        display: block;
        width: 100%;
    }
    nav.menu ul.nav li.mega-menu-item ul.mega-submenu{
        width: 100%;
        position: relative !important;
        background-color: transparent;
        float: none;
        border: none;
        padding: 0 0 0 15px !important;
        margin: 0 0 -1px 0 !important;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px;
        -o-border-radius: 0px 0px 0px;
        border-radius: 0px 0px 0px;
    }
    nav.menu ul.nav li.mega-menu-item ul.mega-submenu.active{ display: block; }
    nav.menu ul.nav li.mega-menu-item ul.mega-submenu  > li > a{
        display: block;
        width: 100%;
        border-bottom: solid 1px #e0e0e0;
        padding: 10px 0;
        color: #6f6f6f;
    }
    nav.menu ul.nav ul.mega-submenu li a:hover,
    nav.menu ul.nav ul.mega-submenu li a:focus{
        background-color: transparent;
    }
    nav.menu ul.nav ul.mega-submenu ul.mega-submenu{
        float: none !important;
        left: 0;
        padding: 0 0 0 15px;
        position: relative;
        background: transparent;
        width: 100%;
    }
    nav.menu ul.nav ul.mega-submenu li.mega-menu-item.on > ul.mega-submenu{
        display: inline-block;
        margin-top: -10px;
    }
    nav.menu li.mega-menu-item ul.mega-submenu li.mega-menu-item > a.mega-menu-link:after{
        display: none;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu .title{
        padding: 10px 15px 10px 0;
        line-height: 24px;
        font-size: 14px;
        text-transform: none;
        font-weight: 500;
        letter-spacing: 0px;
        margin-bottom: 0;
        cursor: pointer;
        border-bottom: solid 1px #e0e0e0;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu ul > li > a{
        display: block;
        width: 100%;
        border-bottom: solid 1px #e0e0e0;
        padding: 8px 0;
    }
   nav.menu .mega-menu-item .megamenu-content .col-menu .title:before{
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
       position: relative;
       right: -15px;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu:last-child .title{
        border-bottom: none;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu.on:last-child .title{
        border-bottom: solid 1px #e0e0e0;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu:last-child ul.menu-col li:last-child a{
        border-bottom: none;
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu.on .title:before{
        content: "\f107";
    }
    nav.menu .mega-menu-item .megamenu-content .col-menu .content{
        padding: 0 0 0 15px;
    }
    nav.menu .megamenu-content{
        padding: 0;
    }
    nav.menu .megamenu-content .col-menu{
        padding-bottom: 0;
        max-width: 100%;
        flex: 100%;
    }
    nav.menu .megamenu-content .title{
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0;
        font-weight: normal;
    }
    nav.menu .megamenu-content .content{
        display: none;
    }
     nav.menu .megamenu-content .content.active{
        display: block;
    }
    .ex-nav > ul > li.mega-menu-item > a.mega-menu-link:before{
        display: none;
    }
    .ex-nav > ul > li.mega-menu-item ul.mega-submenu{
        margin-top: 2px;
        margin-left: 55px;
        width: 250px;
        left: -250px;
        border-top: solid 5px;
    }
    .top-search .container{
        padding: 0 45px;
    }

}

@media (max-width: 767px) {

    .ex-nav > ul > li.mega-menu-item ul.mega-submenu{
        left: -275px;
    }

}
